* {
    box-sizing: border-box;
   }

   body {
    height:100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: linear-gradient(#241a55, #888a88);
   }
   
   
   .cadastro {
    display: grid;
    background-color: #888a88;
    padding: 50px;
    border-radius: 3em;
    border: #1a113a;
    box-shadow: 3px 3px 3px 3px inset rgba(22, 22, 22, 0.1);
    padding-left: 4em;
    padding-right: 4em;
   }
   
   .cadastro h2 {
    text-align: center;
    margin-bottom: 20px;
   }
    
   .cadastro input[type="text"], .cadastro input[type="email"], .cadastro input[type="password"], .cadastro input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #89cc8f;
   }
   
   .cadastro input[type="Enviar"] {
    width: 100%;
    padding: 10px;
    background-color: #241a55;
    color: white;
    border: none;
    border-radius: 4px;
   }
   
   .cadastro input[type="Enviar"]:hover {
    cursor: pointer;
    background-color: #1a113a;
   }
   
   .Enviar {
    font-size: 30px;
    padding: 0 2em 0 2em;
    margin-top: 1em;
    display: inline-block;
    background-color: #338040;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 0.5em;
   }
